---
import Hero from '../components/Hero.tsx';
import '../styles/global.css';
---
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>tdme</title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  </head>
  <body>
    <Hero client:load />
  </body>
</html>