---
import Hero from '../components/Hero.tsx';
import '../styles/global.css';
---
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>TDME</title>
  </head>
  <body>
    <Hero client:load />
  </body>
</html>